<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serial Experiments Lain</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/game.css">
    <link rel="stylesheet" href="/stylesheets/game_enter.css">
    <link rel="stylesheet" href="/stylesheets/audio_media.css">
    <style>   
        .medium{
            height: 100%;
            text-align: center;
        }
    </style>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="up-line color-line">
        <div class="links-top">
            <article class="enlaces-top">
                <a class="signos-top" href="/game{{nivelAnteriorNatural}}"> < </a>
                <p class="archive-name-top">N</p>
                <a class="signos-top" href="/game{{nivelPosteriorNatural}}"> > </a>
            </article>
            <article class="enlaces-top">
                <a class="signos-top" href="/game{{nivelAnteriorCronologico}}"> < </a>
                <p class="archive-name-top">C</p>
                <a class="signos-top" href="/game{{nivelPosteriorCronologico}}"> > </a>
            </article>
            <a class="top-menu" href="/game/{{site}}/{{level}}">
                <img src="/img/svg/Home.svg" id="logo-tachibana" onmouseover="TachibanaLogoSelected()" onmouseout="TachibanaLogoNotSelected()">
            </a>
            </div>
    </div>
    <div class="medium"> 
        <div class="left-section">
            <img src="/img/level_gifs/{{LainResponse.ID}}.gif" class="img-left-section">
            <section class="info-left-section">
                    <p class="subtitle-info"><b>ID: </b> {{LainResponse.ID}}</p>
                    <p class="subtitle-info"><b>Ubicacion:</b> {{LainResponse.Ubicacion}}</p>
                    <p class="subtitle-info"><b>Requiere:</b> {{LainResponse.Requiere}}</p>
                    <p class="subtitle-info"><b>Revela:</b> {{LainResponse.Revela}}</p>
                    <p class="subtitle-info"><b>Info:</b> {{LainResponse.Info}}</p>
            </section>
            <section class="foot-notes">
                {{#each LainResponse.Diccionario}}
                    <p><b>{{[0]}}</b> {{[1]}}</p>
                {{/each}}
            </section>
        </div>
        <div class="right-section">
            <section class="right-top-section">
                <article class="archive-title">
                    <a class="signos" href="/game{{nivelAnteriorAlfabetico}}"> < </a>
                    <p class="archive-name">{{LainResponse.ID}}</p>
                    <a class="signos" href="/game{{nivelPosteriorAlfabetico}}"> > </a>
                </article>
                <article class="archive-tags">
                    {{#each LainResponse.Tags}}
                        <a href="{{[1]}}">{{[0]}}</a>
                    {{/each}}
                </article>
            </section>
            <hr class="hr">
            <audio controls class="audio-controls">
                <source src="/audio/game_audio/{{LainResponse.ID}}.mp3" type="audio/mpeg">
            </audio>
            <hr class="hr">
            <section class="dialogos">
                {{#each LainResponse.Dialogos}}
                    <p class="name">{{[0]}}</p>
                    <p class="text">{{[1]}}</p>
                {{/each}}
            </section>
        </div>
    </div>
    <footer class="bottom-line color-line">
        <p style="color: white; text-align: center;">Lif + Sib 2020</p> 
    </footer>
</body>
</html>
